<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Laralytics Test Suite">
            <file>tests/laralytics/LaralyticsTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>src/Laralytics.php</file>
        </whitelist>
    </filter>
</phpunit>
